### Vectors - Arrays carrying only one type of data type

In [ ]:
sample_vector <- c(3,34,56,63,678)

In [2]:
sample_vector

[1]   3  34  56  63 678

In [3]:
is.numeric(sample_vector)

[1] TRUE

In [4]:
is.integer(sample_vector)

[1] FALSE

In [5]:
is.double(sample_vector)

[1] TRUE

In [6]:
v2 <- c(3L,345L,0L,45L)

In [7]:
is.integer(v2)

[1] TRUE

### Combine

In [8]:
v3 <- c("g","a","hello","B34")

In [9]:
v3

[1] "g"     "a"     "hello" "B34"

In [10]:
is.character(v3)

[1] TRUE

### Sequence

In [11]:
seq(1,15)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [12]:
1:15

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [13]:
seq(2,15,2)

[1]  2  4  6  8 10 12 14

In [14]:
z <- seq(2,15,4)

### Replicate

In [15]:
rep(3,50)

 [1] 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
[39] 3 3 3 3 3 3 3 3 3 3 3 3

In [16]:
d <- rep(1,20)

In [19]:
rep(z,5) # replicate vectors

 [1]  2  6 10 14  2  6 10 14  2  6 10 14  2  6 10 14  2  6 10 14

In [18]:
rep("x", 5)

[1] "x" "x" "x" "x" "x"

### Accessing Rows

In [27]:
v3

[1] "g"     "a"     "hello" "B34"

In [22]:
v3[1]

[1] "g"

In [26]:
v3[-4]

[1] "g"     "a"     "hello"

In [29]:
v3[c(-2,-1)]

[1] "hello" "B34"

In [30]:
v3[1:2]

[1] "g" "a"

In [31]:
v3[-1:-3]

[1] "B34"

In [33]:
x <- rnorm(5)

for(i in 1:5){
    print(x[i])
}

[1] 0.4215252
[1] -0.3347768
[1] 0.5696338
[1] 1.224681
[1] 0.6897766

### Vectorized Approach

In [35]:
n <- 5
a <- rnorm(n)
b <- rnorm(n)

c <- a * b
c

[1]  0.2964937  0.1515333 -1.4265820 -0.1785197  0.1096638

### Financial Statement Analysis